<h1 class="__title">Welcome to <div class="__zerops">ZEROPS</div> recipe including <div class="__tech">Angular</div> technology</h1>

<div class="__checklist">

  <h3 class="__checklist-title"><strong>Your next steps?</strong></h3>

  <div class="__checklist-item">
    <mat-checkbox>
    </mat-checkbox>
    Fork repository
  </div>

  <div class="__checklist-item">
    <mat-checkbox>
    </mat-checkbox>
    Open build and deploy settings and connect
  </div>

  <div class="__checklist-item">
    <mat-checkbox>
    </mat-checkbox>
    Push a new commit
  </div>

</div>
